integrations/n8n/workflows/auto-retrain-on-upload.json
{
  "name": "Auto Retrain on Dataset Upload",
  "active": false,
  "nodes": [
    {
      "id": "wh-dataset",
      "name": "Webhook Dataset Uploaded",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "dataset-uploaded",
      "parameters": {
        "httpMethod": "POST",
        "path": "dataset-uploaded",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "http://api:8000,http://n8n:5678"
        }
      }
    },
    {
      "id": "resp-202",
      "name": "Respond 202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted' }) }}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "code-norm",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const root = $input.first().json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : root;\nreturn [{ json: { dataset_id: body.dataset_id || body.id, event_type: body.event_type } }];\n"
      }
    },
    {
      "id": "get-status",
      "name": "GET Evolve Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 400],
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/api/evolve/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.MODELFORGE_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "if-running",
      "name": "Evolution Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1080, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "run",
              "leftValue": "={{ $json.is_running }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "wait-30",
      "name": "Wait 30 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1300, 280],
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      }
    },
    {
      "id": "get-champion",
      "name": "GET Champion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 520],
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/api/models/champion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.MODELFORGE_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "merge-start",
      "name": "Build Start Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 520],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const norm = $('Normalize Payload').first().json || {};\nconst champ = $input.first().json || {};\nconst base = champ.base_model || 'llama3.2:3b';\nconst body = {\n  base_model: base,\n  max_generations: 3,\n  lora_rank: 16,\n  lora_alpha: 32,\n  learning_rate: 0.0002,\n  batch_size: 2,\n};\nif (norm.dataset_id) body.custom_dataset_id = norm.dataset_id;\nreturn [{ json: { start_body: body } }];\n"
      }
    },
    {
      "id": "post-evolve",
      "name": "POST Evolve Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 520],
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/evolve/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.MODELFORGE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.start_body) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "code-slack",
      "name": "Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 520],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const norm = $('Normalize Payload').first().json || {};\nconst ev = $input.first().json || {};\nconst slack_message = `:rocket: *Auto-retrain started* for dataset \\`${norm.dataset_id || 'unknown'}\\` — run \\`${ev.run_id || 'pending'}\\`.`;\nreturn [{ json: { slack_message } }];\n"
      }
    },
    {
      "id": "if-slack",
      "name": "Slack Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2400, 520],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "slack",
              "leftValue": "={{ $env.SLACK_WEBHOOK_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "slack-out",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "err-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 720],
      "parameters": {}
    },
    {
      "id": "err-forward",
      "name": "POST Workflow Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 720],
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/system/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.MODELFORGE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alert_type: 'workflow_error', severity: 'warning', source: 'auto-retrain-on-upload', message: $json.error?.message || 'workflow error' }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Dataset Uploaded": {
      "main": [
        [
          {
            "node": "Respond 202",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 202": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "GET Evolve Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Evolve Status": {
      "main": [
        [
          {
            "node": "Evolution Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution Running?": {
      "main": [
        [
          {
            "node": "Wait 30 Minutes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Champion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Minutes": {
      "main": [
        [
          {
            "node": "GET Evolve Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Champion": {
      "main": [
        [
          {
            "node": "Build Start Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Start Body": {
      "main": [
        [
          {
            "node": "POST Evolve Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Evolve Start": {
      "main": [
        [
          {
            "node": "Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Message": {
      "main": [
        [
          {
            "node": "Slack Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Configured?": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "POST Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "description": "Webhook dataset-uploaded → check evolve status → wait/retry if busy → POST /api/evolve/start with custom_dataset_id. Point N8N_WEBHOOK_DATASET_URL to this webhook."
}
