integrations/n8n/workflows/evolution-monitor.json
{
  "name": "Evolution Monitor",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Evolution Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "evolution-monitor",
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-events",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "http://api:8000"
        }
      }
    },
    {
      "id": "webhook-respond",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', event_type: $json.body?.event_type ?? $json.event_type, received_at: $now.toISO() }) }}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "switch-event-type",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "generation_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generation_complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "champion_promoted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "champion_promoted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "run_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "run_complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      }
    },
    {
      "id": "set-generation-log",
      "name": "Log Generation Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        100
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "generation_complete",
              "type": "string"
            },
            {
              "id": "2",
              "name": "generation_number",
              "value": "={{ $json.generation_number }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "best_score",
              "value": "={{ $json.best_score ?? $json.scores?.best ?? 'N/A' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "avg_score",
              "value": "={{ $json.avg_score ?? $json.scores?.avg ?? 'N/A' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "model_id",
              "value": "={{ $json.model_id ?? $json.run_id }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "slack_message",
              "value": "=*Generation {{ $json.generation_number }} complete* | Best: `{{ $json.best_score ?? 'N/A' }}` | Avg: `{{ $json.avg_score ?? 'N/A' }}` | Run: `{{ $json.run_id }}`",
              "type": "string"
            },
            {
              "id": "7",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-generation",
      "name": "Slack — Generation Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-champion-log",
      "name": "Log Champion Promoted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        260
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "champion_promoted",
              "type": "string"
            },
            {
              "id": "2",
              "name": "champion_model_id",
              "value": "={{ $json.champion_model_id ?? $json.model_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "generation",
              "value": "={{ $json.generation_number }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "score",
              "value": "={{ $json.score ?? $json.fitness_score }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "previous_champion",
              "value": "={{ $json.previous_champion ?? 'none' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "slack_message",
              "value": "=*Champion promoted* | Model: `{{ $json.champion_model_id ?? $json.model_id }}` | Score: `{{ $json.score ?? $json.champion_avg ?? $json.fitness_score }}` | Gen: `{{ $json.generation_number }}`",
              "type": "string"
            },
            {
              "id": "7",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-champion",
      "name": "Slack — Champion Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-run-summary",
      "name": "Build Run Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        420
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "run_complete",
              "type": "string"
            },
            {
              "id": "2",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "total_generations",
              "value": "={{ $json.total_generations ?? $json.generation_number }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "best_score",
              "value": "={{ $json.best_score }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "champion_model_id",
              "value": "={{ $json.champion_model_id }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "duration_seconds",
              "value": "={{ $json.duration_seconds }}",
              "type": "number"
            },
            {
              "id": "7",
              "name": "slack_message",
              "value": "=*Evolution run complete*\\n• Run ID: `{{ $json.run_id }}`\\n• Generations: `{{ $json.total_generations }}`\\n• Best score: `{{ $json.best_score }}`\\n• Champion: `{{ $json.champion_model_id }}`\\n• Duration: `{{ Math.round(($json.duration_seconds ?? 0) / 60) }}m`",
              "type": "string"
            },
            {
              "id": "8",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-run-complete",
      "name": "Slack — Run Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-error-alert",
      "name": "Build Error Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        580
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "error",
              "type": "string"
            },
            {
              "id": "2",
              "name": "error_code",
              "value": "={{ $json.error_code ?? 'UNKNOWN' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "error_message",
              "value": "={{ $json.error_message ?? $json.message ?? 'No details' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "run_id",
              "value": "={{ $json.run_id ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "generation",
              "value": "={{ $json.generation_number ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "stack_trace",
              "value": "={{ $json.stack_trace ?? $json.traceback ?? '' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "slack_message",
              "value": "=*Evolution error*\\n• Run: `{{ $json.run_id ?? 'unknown' }}`\\n• Code: `{{ $json.error_code ?? 'UNKNOWN' }}`\\n• Message: `{{ $json.error_message ?? $json.message }}`\\n• Generation: `{{ $json.generation_number ?? 'N/A' }}`",
              "type": "string"
            },
            {
              "id": "8",
              "name": "severity",
              "value": "critical",
              "type": "string"
            },
            {
              "id": "9",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-error",
      "name": "Slack — Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        580
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "unhandled-event",
      "name": "Log Unknown Event Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        740
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "warning",
              "value": "unhandled_event_type",
              "type": "string"
            },
            {
              "id": "2",
              "name": "received_event_type",
              "value": "={{ $json.event_type }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "payload",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Evolution Event Webhook": {
      "main": [
        [
          {
            "node": "Respond 202 Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Log Generation Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Champion Promoted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Run Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unknown Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Generation Complete": {
      "main": [
        [
          {
            "node": "Slack — Generation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Champion Promoted": {
      "main": [
        [
          {
            "node": "Slack — Champion Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Summary": {
      "main": [
        [
          {
            "node": "Slack — Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Alert": {
      "main": [
        [
          {
            "node": "Slack — Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "description": "Production webhook for ModelForge evolution events (POST /webhook/evolution-events). Optional Slack via SLACK_WEBHOOK_URL. CORS allows http://api:8000 only (Docker API → n8n)."
}
