integrations/n8n/workflows/evolution-monitor.json
{
  "createdAt": "2026-05-03T15:12:33.957Z",
  "updatedAt": "2026-05-03T15:17:18.838Z",
  "id": "p1psmWso6gdVfK39",
  "name": "Evolution Monitor",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Evolution Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "evolution-monitor",
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-events",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "webhook-respond",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"accepted\",\"event_type\":\"test\",\"received_at\":\"now\"}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "switch-event-type",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "generation_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generation_complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "champion_promoted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "champion_promoted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "run_complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "run_complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body?.event_type ?? $json.event_type }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      }
    },
    {
      "id": "set-generation-log",
      "name": "Log Generation Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        100
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "generation_complete",
              "type": "string"
            },
            {
              "id": "2",
              "name": "generation_number",
              "value": "={{ $json.generation_number }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "best_score",
              "value": "={{ $json.best_score ?? $json.scores?.best ?? 'N/A' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "avg_score",
              "value": "={{ $json.avg_score ?? $json.scores?.avg ?? 'N/A' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "model_id",
              "value": "={{ $json.model_id ?? $json.run_id }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "slack_message",
              "value": "=:dna: *Generation {{ $json.generation_number }} Complete* | Best: `{{ $json.best_score ?? 'N/A' }}` | Avg: `{{ $json.avg_score ?? 'N/A' }}` | Run: `{{ $json.run_id }}`",
              "type": "string"
            },
            {
              "id": "7",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-generation",
      "name": "Slack \u2014 Generation Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-champion-log",
      "name": "Log Champion Promoted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        260
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "champion_promoted",
              "type": "string"
            },
            {
              "id": "2",
              "name": "champion_model_id",
              "value": "={{ $json.champion_model_id ?? $json.model_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "generation",
              "value": "={{ $json.generation_number }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "score",
              "value": "={{ $json.score ?? $json.fitness_score }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "previous_champion",
              "value": "={{ $json.previous_champion ?? 'none' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "slack_message",
              "value": "=:trophy: *New Champion Promoted!* | Model: `{{ $json.champion_model_id ?? $json.model_id }}` | Score: `{{ $json.score ?? $json.fitness_score }}` | Gen: `{{ $json.generation_number }}`",
              "type": "string"
            },
            {
              "id": "7",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-champion",
      "name": "Slack \u2014 Champion Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-run-summary",
      "name": "Build Run Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        420
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "run_complete",
              "type": "string"
            },
            {
              "id": "2",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "total_generations",
              "value": "={{ $json.total_generations }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "best_score",
              "value": "={{ $json.best_score }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "champion_model_id",
              "value": "={{ $json.champion_model_id }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "duration_seconds",
              "value": "={{ $json.duration_seconds }}",
              "type": "number"
            },
            {
              "id": "7",
              "name": "slack_message",
              "value": "=:checkered_flag: *Evolution Run Complete!*\\n\u2022 Run ID: `{{ $json.run_id }}`\\n\u2022 Generations: `{{ $json.total_generations }}`\\n\u2022 Best Score: `{{ $json.best_score }}`\\n\u2022 Champion: `{{ $json.champion_model_id }}`\\n\u2022 Duration: `{{ Math.round(($json.duration_seconds ?? 0) / 60) }}m`",
              "type": "string"
            },
            {
              "id": "8",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-run-complete",
      "name": "Slack \u2014 Run Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "set-error-alert",
      "name": "Build Error Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        580
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "notification_type",
              "value": "error",
              "type": "string"
            },
            {
              "id": "2",
              "name": "error_code",
              "value": "={{ $json.error_code ?? 'UNKNOWN' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "error_message",
              "value": "={{ $json.error_message ?? $json.message ?? 'No details' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "run_id",
              "value": "={{ $json.run_id ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "generation",
              "value": "={{ $json.generation_number ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "stack_trace",
              "value": "={{ $json.stack_trace ?? $json.traceback ?? '' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "slack_message",
              "value": "=:rotating_light: *Evolution Error!*\\n\u2022 Run: `{{ $json.run_id ?? 'unknown' }}`\\n\u2022 Code: `{{ $json.error_code ?? 'UNKNOWN' }}`\\n\u2022 Message: `{{ $json.error_message ?? $json.message }}`\\n\u2022 Generation: `{{ $json.generation_number ?? 'N/A' }}`",
              "type": "string"
            },
            {
              "id": "8",
              "name": "severity",
              "value": "critical",
              "type": "string"
            },
            {
              "id": "9",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "notify-error",
      "name": "Slack \u2014 Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        580
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "unhandled-event",
      "name": "Log Unknown Event Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        740
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "warning",
              "value": "unhandled_event_type",
              "type": "string"
            },
            {
              "id": "2",
              "name": "received_event_type",
              "value": "={{ $json.event_type }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "payload",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Evolution Event Webhook": {
      "main": [
        [
          {
            "node": "Respond 202 Accepted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Log Generation Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Champion Promoted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Run Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unknown Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Generation Complete": {
      "main": [
        [
          {
            "node": "Slack \u2014 Generation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Champion Promoted": {
      "main": [
        [
          {
            "node": "Slack \u2014 Champion Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Summary": {
      "main": [
        [
          {
            "node": "Slack \u2014 Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Alert": {
      "main": [
        [
          {
            "node": "Slack \u2014 Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "fb13c1d6-b1c9-4636-94fb-c0a9946b68bb",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2026-05-03T15:12:33.957Z",
      "updatedAt": "2026-05-03T15:12:33.957Z",
      "role": "workflow:owner",
      "workflowId": "p1psmWso6gdVfK39",
      "projectId": "pCXiSbORL8ggyach",
      "project": {
        "createdAt": "2026-05-03T15:01:46.271Z",
        "updatedAt": "2026-05-03T15:02:06.125Z",
        "id": "pCXiSbORL8ggyach",
        "name": "Model Forge <admin@modelforge.local>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2026-05-03T15:01:46.271Z",
            "updatedAt": "2026-05-03T15:01:46.271Z",
            "role": "project:personalOwner",
            "userId": "fbbcca9f-40d6-4aa2-9382-1a8d501d89b6",
            "projectId": "pCXiSbORL8ggyach",
            "user": {
              "createdAt": "2026-05-03T15:01:46.029Z",
              "updatedAt": "2026-05-03T15:15:37.875Z",
              "id": "fbbcca9f-40d6-4aa2-9382-1a8d501d89b6",
              "email": "admin@modelforge.local",
              "firstName": "Model",
              "lastName": "Forge",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-05-03T15:07:53.732Z",
                "personalization_survey_n8n_version": "1.102.4",
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "p1psmWso6gdVfK39",
                "userActivatedAt": 1777821337859
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:list",
    "workflow:move",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ]
}
