integrations/n8n/workflows/health-check-monitor.json
{
  "createdAt": "2026-05-03T15:12:40.087Z",
  "updatedAt": "2026-05-03T15:12:40.087Z",
  "id": "y1QGtKQ9aeDW1jCu",
  "name": "Health Check Monitor",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "schedule-15m",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "get-health",
      "name": "GET /api/system/health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://api:8000/api/system/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.MODELFORGE_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      }
    },
    {
      "id": "check-healthy",
      "name": "All Services Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "status-ok",
              "leftValue": "={{ $json.body?.status ?? $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "http-200",
              "leftValue": "={{ $json.statusCode ?? 200 }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "log-healthy",
      "name": "Record Healthy Heartbeat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        200
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "healthy",
              "type": "string"
            },
            {
              "id": "2",
              "name": "postgres",
              "value": "={{ $json.body?.postgres ?? $json.postgres }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "redis",
              "value": "={{ $json.body?.redis ?? $json.redis }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "version",
              "value": "={{ $json.body?.version ?? $json.version }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "checked_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "post-heartbeat-api",
      "name": "POST Heartbeat to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 200],
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/system/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-API-Key", "value": "={{ $env.MODELFORGE_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alert_type: 'heartbeat', severity: 'info', api_status: 'ok', postgres_status: $json.postgres, redis_status: $json.redis, detected_at: $json.checked_at }) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "diagnose-failure",
      "name": "Diagnose Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        420
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "alert_type",
              "value": "health_check_failed",
              "type": "string"
            },
            {
              "id": "2",
              "name": "http_status_code",
              "value": "={{ $json.statusCode ?? 'unreachable' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "api_status",
              "value": "={{ $json.body?.status ?? $json.status ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "postgres_status",
              "value": "={{ $json.body?.postgres ?? $json.postgres ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "redis_status",
              "value": "={{ $json.body?.redis ?? $json.redis ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "env",
              "value": "={{ $json.body?.env ?? $json.env ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "failed_services",
              "value": "={{ [($json.body?.postgres ?? $json.postgres) !== 'ok' ? 'postgres' : null, ($json.body?.redis ?? $json.redis) !== 'ok' ? 'redis' : null].filter(Boolean).join(', ') || 'api_unreachable' }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "slack_message",
              "value": "=:red_circle: *ModelForge Health Check FAILED*\\n\u2022 Time: `{{ $now.toISO() }}`\\n\u2022 HTTP Status: `{{ $json.statusCode ?? 'unreachable' }}`\\n\u2022 API Status: `{{ $json.body?.status ?? 'unknown' }}`\\n\u2022 Postgres: `{{ $json.body?.postgres ?? $json.postgres ?? 'unknown' }}`\\n\u2022 Redis: `{{ $json.body?.redis ?? $json.redis ?? 'unknown' }}`\\n\u2022 Failed: `{{ [($json.body?.postgres ?? $json.postgres) !== 'ok' ? 'postgres' : null, ($json.body?.redis ?? $json.redis) !== 'ok' ? 'redis' : null].filter(Boolean).join(', ') || 'api_unreachable' }}`",
              "type": "string"
            },
            {
              "id": "9",
              "name": "severity",
              "value": "critical",
              "type": "string"
            },
            {
              "id": "10",
              "name": "detected_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "alert-failure",
      "name": "Slack \u2014 Health Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slack_message }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "log-to-postgres",
      "name": "POST Alert to ModelForge API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/system/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.MODELFORGE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alert_type: $json.alert_type, failed_services: $json.failed_services, http_status_code: $json.http_status_code, api_status: $json.api_status, postgres_status: $json.postgres_status, redis_status: $json.redis_status, severity: $json.severity, detected_at: $json.detected_at }) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "GET /api/system/health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/system/health": {
      "main": [
        [
          {
            "node": "All Services Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Services Healthy?": {
      "main": [
        [
          {
            "node": "Record Healthy Heartbeat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diagnose Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diagnose Failure": {
      "main": [
        [
          {
            "node": "Slack \u2014 Health Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack \u2014 Health Alert": {
      "main": [
        [
          {
            "node": "POST Alert to ModelForge API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Healthy Heartbeat": {
      "main": [
        [
          {
            "node": "POST Heartbeat to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c7e39d73-1794-4588-9825-31cb545d5d37",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2026-05-03T15:12:40.087Z",
      "updatedAt": "2026-05-03T15:12:40.087Z",
      "role": "workflow:owner",
      "workflowId": "y1QGtKQ9aeDW1jCu",
      "projectId": "pCXiSbORL8ggyach",
      "project": {
        "createdAt": "2026-05-03T15:01:46.271Z",
        "updatedAt": "2026-05-03T15:02:06.125Z",
        "id": "pCXiSbORL8ggyach",
        "name": "Model Forge <admin@modelforge.local>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2026-05-03T15:01:46.271Z",
            "updatedAt": "2026-05-03T15:01:46.271Z",
            "role": "project:personalOwner",
            "userId": "fbbcca9f-40d6-4aa2-9382-1a8d501d89b6",
            "projectId": "pCXiSbORL8ggyach",
            "user": {
              "createdAt": "2026-05-03T15:01:46.029Z",
              "updatedAt": "2026-05-03T15:15:37.875Z",
              "id": "fbbcca9f-40d6-4aa2-9382-1a8d501d89b6",
              "email": "admin@modelforge.local",
              "firstName": "Model",
              "lastName": "Forge",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-05-03T15:07:53.732Z",
                "personalization_survey_n8n_version": "1.102.4",
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "p1psmWso6gdVfK39",
                "userActivatedAt": 1777821337859
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:list",
    "workflow:move",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ]
}
